<div class="container-fluid">
    <div class="card position-absolute top-50 start-50 translate-middle" style="width: 25rem;">       
            <div class="card-body">
                <h2 class="card-title text-center">Forgot your Password</h2>
                <p>Enter the email address associated with your Walmart account and we'll send you the reset instructions.</p>
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
                            <div id="emailHelp" class="form-text">Please enter a valid email address</div>
                        </div>
                                             
                        <div class="d-grid gap-2 d-md-flex justify-content-md-evenly">
                            <button type="submit" class="btn btn-primary">Continue</button>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-evenly">
                            <a href="/reset-password" class="btn btn-link">Reset password page---just for test---will be replaced</a></div>
                    </form>              
            </div>       
    </div>
</div>