<div class="container pt-5">
    <div class="card mx-auto" style="width: 25rem;">
        <div>
            <h3 class="card-header">Forgot your Password</h3><br>
            <p>Enter the email address associated with your BigAl's account and we'll send you the reset instructions.
            </p>
           
            <form action="" [formGroup]="RequestResetForm" (ngSubmit)="RequestResetUser(RequestResetForm)">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input formControlName="email" type="email" class="form-control" id="email"
                        aria-describedby="emailHelp" name="email">
                        <span *ngIf="!RequestResetForm.get('email').valid && !IsvalidForm"
                        class="help-block">Please enter a valid BigAl's email!</span>
                </div>

                <div id="errorMsg" *ngIf="errorMessage">
                    <span>{{errorMessage}}</span>
                </div>
                <div id="successMsg" *ngIf="successMessage">
                    <span>{{successMessage}}</span>
                </div>

                <!-- <div class="form-group">
                            <input type="submit" value="Submit" [disabled]="insertForm.invalid" class="btn float-right forgot_btn" />
                        </div> -->
                <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-evenly" id="errors">
                    <div *ngIf="Email.touched && Email.errors" class="errorEmail">
                        <span *ngIf="Email.hasError('required')">Email is required.</span>
                    </div>
                </div> -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-evenly">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div><br>
            </form>
        </div>
        <div>
            <a href="/register" class="btn btn-link">Register</a>
        </div>
    </div>
</div>