<div class="container-fluid">
    <img src="../../assets/img/renate-helgerud--BGUyzmFjk4-unsplash.jpg" class="img-thumbnail" alt="pageNotFound">
    <div class="card position-absolute top-50 start-50 translate-middle bg-transparent border-0">
      <div class="card-body">
         <p class="fw-bold fs-1 text-primary">4 0 4</p> 
         <p class="fw-bold fs-3">...Oops! Something is missing</p>
         <a class="btn btn-outline-primary" href="/home" role="button">HOME</a> 
      </div>
    </div>
  </div>