<div class="container-fluid mt-3" *ngIf="roItems" >
    <div class="container">
        <div class="row">
            <div class="mb-3 bg-danger text-white bg-gradient rounded-3" id="errorMsg" *ngIf="errorMessage">
                <span class="d-md-flex justify-content-md-evenly">{{errorMessage}}</span>
              </div>
              <div class="mb-3 bg-success text-white bg-gradient rounded-3" id="successMsg" *ngIf="successMessage">
                <span class="d-md-flex justify-content-md-evenly" >{{successMessage}}</span>
            </div> 
        </div>
        <div class="row mb-3">
            <div class="col-sm-4">
               <span >RO number:</span> &nbsp;&nbsp;<span class="fs-6 fst-italic">{{roNum}}</span>
            </div>
            <div class="col-sm-3">
                <span>PO number:</span> &nbsp;&nbsp;<span class="fs-6 fst-italic">{{ro?.poNumber}}</span>
            </div>
            <div class="col-sm-3">
                <span>Create Date:</span> &nbsp;&nbsp;<span class="fs-6 fst-italic">{{ro?.createDate | date}}</span>
            </div>
            <div class="col-sm-2">
                <span>Status:</span> &nbsp;&nbsp;<span class="fs-6 fst-italic">{{ro?.status}}</span>
            </div>
        </div>    
    </div>
    <table  class="table table-hover border-top mt-3">
        <thead  class="table-light">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Item Number</th>
                <th scope="col">Item Description</th>
                <th scope="col">Order Quantity</th>
                <th scope="col">Receive Quantity</th>
                <th scope="col">Diff Quantity</th>
                <th scope="col">ExpireDate</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor='let item of roItems; let i = index'>
                <td>{{i + 1}}</td>
                <td>{{item.itemNumber}}</td>
                <td>{{item.itemDescription}}</td>      
                <td>{{item.orderQty}}</td>
                <td><input type="text" name="receiveQty"  [(ngModel)]="item.receiveQty" (change)="onChange(item)">
                </td>
                <td><input type="text" name="diffQty" [(ngModel)]="item.diffQty"></td>    
                <td><input type="text" name="expireDate" [(ngModel)]="item.expireDate"></td>  
            </tr>
        </tbody>
    </table>
    <div class="d-grid mb-3 gap-2 d-md-flex justify-content-md-evenly">
        <button type=""  (click)="save()"  class="btn btn-primary">Save</button>
        <button type="clean" (click)="return()" class="btn btn-primary">Cancel</button>
        <button type="submit" (click)="submit()" class="btn btn-primary">Submit</button>
    </div>
</div>
