<div class="container-fluid mt-3" *ngIf="roItems" >
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-4">
               <span class="">RO number:</span> &nbsp;&nbsp;<span>{{state.roNumber}}</span>
            </div>
            <div class="col-sm-3">
                PO number: &nbsp;&nbsp;<span>{{state.poNumber}}</span>
            </div>
            <div class="col-sm-3">
                Create Date: &nbsp;&nbsp;<span>{{state.createDate}}</span>
            </div>
            <div class="col-sm-3">
                Status: &nbsp;&nbsp;<span>{{state.status}}</span>
            </div>
        </div>    
    </div>
    <table  class="table table-hover border-top mt-3">
        <thead  class="table-light">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Item Number</th>
                <th scope="col">Item Description</th>
                <th scope="col">Order Quantity</th>
                <th scope="col">Receive Quantity</th>
                <th scope="col">Diff Quantity</th>
                <th scope="col">ExpireDate</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor='let item of roItems; let i = index'>
                <td>{{i + 1}}</td>
                <td>{{item.itemNumber}}</td>
                <td>{{item.itemDescription}}</td>      
                <td>{{item.orderQty}}</td>
                <td><input type="text" name="receiveQty"  [(ngModel)]="item.receiveQty" (change)="onChange(item)">
                </td>
                <td><input type="text" name="diffQty" [(ngModel)]="item.diffQty"></td>    
                <td><input type="text" name="expireDate" [(ngModel)]="item.expireDate"></td>  
            </tr>
        </tbody>
    </table>
    <div class="d-grid mb-3 gap-2 d-md-flex justify-content-md-evenly">
        <button type=""  (click)="save()"  class="btn btn-primary">Save</button>
        <button type="clean" class="btn btn-primary">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
