<div><header title="pageTitle"></header></div>
<div class="container-fluid mt-5 mb-5">
    <div class="card mx-auto" style="width: 25rem;">
        <div>
            <h3 class="card-header">Login</h3><br>
            
            <form action="" [formGroup]="SigninForm" (ngSubmit)="signinUser()" class="container">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" formControlName="email" class="form-control form-control-lg" id="email" aria-describedby="emailHelp" />                   
                    <div>
                        <span *ngIf="!SigninForm.get('email').valid && SigninForm.get('email').touched" class="help-block">
                            <small class="text-danger">Email is required</small></span>
                    </div>

                    <div id="emailHelp" class="form-text">Please use Big Al's company email address</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control" id="password" />
                    <div>
                        <span *ngIf="!SigninForm.get('password').valid && SigninForm.get('password').touched" class="help-block">
                        <small class="text-danger">Password is required and must have more than 4 characters!</small></span>
                    </div>
                </div>
                <div id="errorMsg" *ngIf="errorMessage">
                    <span class="text-danger">{{errorMessage}}</span>
                </div><br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-evenly">
                    <button type="submit" class="btn btn-primary">
                        Submit                   
                    </button>
                </div>
                <br>

            </form>
        </div>
        <div>
            <a href="/forget-password" class="btn btn-link">Forget Password?</a>
        </div>
        <div>
            <a href="/register" class="btn btn-link">Register</a>
        </div>
    </div>
</div>
