<div><header title="pageTitle"></header></div>
<div class="container-fluid mt-3 mb-3">
 <h3>List of ships</h3>
 <a routerLink="/ship" class="btn btn-primary">Create New</a>
  <table class="table table-hover border-top mt-3">
    <thead class="table-light">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Arrival Date</th>
        <th scope="col">Ship Method</th>
        <th scope="col">Vender Name</th>
        <th scope="col">Creator</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = 'let ship of ships; let i=index'>
        <td>{{i + 1}}</td>
        <td>{{ship.arrivalDate}}</td>
        <td>{{ship.shippingMethod}}</td>
        <td>{{ship.venderNo}}</td>
        <td>{{ship.userEmail}}</td>
        <td>
          <a [routerLink]="['/ship', ship.id]">Edit</a>&nbsp;&nbsp; |
          <a [routerLink]="['/ship', ship.id]">Detail</a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

