<div>
  <header title="pageTitle"></header>
</div>
<div class="container-fluid mt-3 mb-3">
  <div class="row mb-5">
    <div class="col-sm-3">
      <h3>List of ships</h3>
      <a routerLink="/ship" class="btn btn-primary">Create New</a>
    </div>
    <div class="col-sm-8">
      <div class="input-group ">
        <div class="accordion w-50" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Type
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="form-check" *ngFor="let logistic of shipMethod">
                  <input class="form-check-input" type="checkbox" (change)="selectType($event, logistic)" value=""
                    id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    {{logistic}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion w-50" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                Arrival Date:
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <input class="form-control" type="text" placeholder="start" [(ngModel)]="start"
                  (change)="setStart($event)" aria-label="codeRange">
                <input class="form-control" type="text" placeholder="end" [(ngModel)]="end" (change)="setEnd($event)"
                  aria-label="codeRange">
              </div>
            </div>
          </div>
        </div>
        <div class="input-group w-50">
          <select class="form-select fs-6 " (change)="selectMethod($event)" aria-label="Default select example">
            <option selected>Ship Method</option>
            <option *ngFor="let logistic of shipMethod" [value]="logistic.logisticName">{{logistic.logisticName}}
            </option>
          </select>
        </div>
        <button type="submit" (click)="filter()" class="btn btn-primary me-6">Filter
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-right-fill" viewBox="0 0 16 16">
            <path
              d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
          </svg>
        </button>
        <div class="mx-auto"></div>
        <div class="d-flex justify-content-end">
          <button type="clear" (click)="clear()" class="btn btn-primary">Clear </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3 bg-danger text-white bg-gradient rounded-3" id="errorMsg" *ngIf="errorMessage">
    <span class="d-md-flex justify-content-md-evenly">{{errorMessage}}</span>
  </div>
  <div *ngIf="(ships_ | async)?.length == 0" class="d-flex justify-content-center mt-5">
    <p class="text-center">No Shipping Record</p>
  </div>
  <div *ngIf="(ships_ | async)?.length > 0" class="row mb-5">
    <app-ship-records [ships_]="ships_" [page]="page-1"></app-ship-records>
    <div *ngIf="(ships_ | async)?.length > 9; else elseBlock" class="d-flex justify-content-end">
      <app-paging [page]="page" [nextPage]="true" (newPage)="getPage($event)"></app-paging>
    </div>
    <ng-template #elseBlock>
      <app-paging [page]="page" [nextPage]="false" (newPage)="getPage($event)"></app-paging>
    </ng-template>
  </div>
</div>