<header class="header">
    <!-- Main Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Current Branch</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link"  href="/accouting">Accounting</a>
                </li>
                <li class="nav-item">
                <a class="nav-link"  href="/purchasing">Purchasing</a>
                </li>
                <li class="nav-item">
                <a class="nav-link"  href="/crm">CRM</a>
                </li>  
                
                 <!-- Level 1 --warehouse -->
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="warehouseDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Warehouse
                 </a>
                 <ul class="dropdown-menu bg-dark" aria-labelledby="warehouseDropdown">     

                <!-- Level 2 --receiving -->
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle text-secondary">Receiving</a> 
                <li><a class="dropdown-item text-secondary" href="#">Put Away</a></li>
                <li><a class="dropdown-item text-secondary" href="#">Bin Management</a></li>
                <li><a class="dropdown-item text-secondary" href="#">Replenishment</a></li>
                <li><a class="dropdown-item text-secondary" href="#">Inventory Count</a></li>
                
                </ul>
                </li>
                <!-- End Level 1 -->
                <li class="nav-item">
                <a class="nav-link" href="#">System Management</a>
                </li>         
              </ul>
              <!-- End Collapse Nav -->


              <div class="navbar-form navbar-right">   
              <!-- <div [ngSwitch]="user" class="navbar-form navbar-right"> 
                    <span *ngSwitchCase="false"> -->
                    <a href="/register" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                    </svg>&nbsp;&nbsp;Sign up</a> &nbsp;
                    <a href="/login" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>&nbsp;&nbsp;Log in</a>   
                <!-- </span> -->

                <!-- <span *ngSwitchCase="true"> 
                  <a href="/register" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                      <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                    </svg>&nbsp;&nbsp;Profile</a> &nbsp;
                  <a href="/login" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
                    </svg>&nbsp;&nbsp;Log out</a>   
                  </span> -->
                 </div>

          </div>
        </div>
      </nav>  
    </header>



  