<div class="container mt-3">
  <p class="fw-bolder">User: &nbsp;&nbsp;<span>{{user.email}}</span></p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Model</th>
        <th scope="col">Group</th>
        <th scope="col">Function</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = 'let access of accesses' >
        <td>warehouse</td>
        <td></td>
        <td>{{access}}</td>
        <td *ngIf="!access">
          <button type="button" class="btn btn-secondary" (click)="addFunction()">Add Access</button>
        </td>
        <td *ngIf="access">
          <button type="button" class="btn btn-danger" (click)="removeFunction()">Remove Access</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

