<div class="container-fluid">
    <div class="card position-absolute top-50 start-50 translate-middle" style="width: 25rem;">
        <div class="card-body">
            <h2 class="card-title text-center">Input new password</h2><br>
            <form>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        [(ngModel)]="user.password" minlength="2">
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="password2" name="password2" [(ngModel)]="password2">
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-evenly">
                    <button type="submit" class="btn btn-primary">Update Password</button>
                </div>

            </form>
        </div>
    </div>
</div>