<div class="container pt-5">
    <div class="row" *ngIf="CurrentState=='Wait'">
        <div class="col-md-12  close-form">
            <h2> Please Wait...</h2>
        </div>
    </div>
    <div class="row"
        *ngIf="CurrentState=='NotVerified'">
        <div class="col-md-12">
            <h2> Invalid URL.</h2>
        </div>
    </div>
    <div class="card  mx-auto " style="width: 25rem;" *ngIf="CurrentState=='Verified'">
        <h3 class="card-header">Reset password</h3><br>
        <div class="card-body">
            <div id="errorMsg" *ngIf="errorMessage">
                <span>{{errorMessage}}</span>
            </div>
            <div id="successMsg" *ngIf="successMessage">
                <span>{{successMessage}}</span>
            </div>
            <form action="" [formGroup]="ResponseResetForm" (ngSubmit)="ResetPassword(ResponseResetForm)">
                <div class="form-group">
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            formControlName="newPassword">
                        <span *ngIf="!ResponseResetForm.get('newPassword').valid && !IsResetFormValid"
                            class="help-block">Password is required with atleast 4 characters.</span>
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="password2" name="password2"
                            formControlName="confirmPassword">
                        <span *ngIf="!ResponseResetForm.get('confirmPassword').valid && !IsResetFormValid"
                            class="help-block">. </span>
                        <span
                            *ngIf="ResponseResetForm.get('confirmPassword').valid && (ResponseResetForm.get('confirmPassword').value != ResponseResetForm.get('newPassword').value) && !IsResetFormValid"
                            class="help-block">Confirm Password does not match with password.</span>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-evenly">
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>