<div class="container pt-5">
    <!-- <div class="row" *ngIf="CurrentState=='Wait'">
        <div class="col-md-12  close-form">
            <h2> Please Wait...</h2>
        </div>
    </div>
    <div class="row"
        *ngIf="CurrentState=='NotVerified'">
        <div class="col-md-12">
            <h2> Invalid URL.</h2>
        </div>
    </div> -->
    <!-- <div class="card  mx-auto " style="width: 25rem;" *ngIf="CurrentState=='Verified'">  -->
    <div class="card  mx-auto mb-5" style="width: 25rem;">
        <h3 class="card-header">Reset password</h3><br>
        <div class="card-body">
            <div class="mb-3 bg-danger text-white bg-gradient rounded-3" id="errorMsg" *ngIf="errorMessage">
                <span class="d-md-flex justify-content-md-evenly">{{errorMessage}}</span>
            </div>
            <div class="mb-3 bg-success text-white bg-gradient rounded-3" id="successMsg" *ngIf="successMessage">
                <span class= "mx-3" >{{successMessage}}</span>
            </div>
            <form action="" [formGroup]="ResponseResetForm" (ngSubmit)="ResetPassword(ResponseResetForm)">
                <div class="form-group">
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            formControlName="password">
                        <span *ngIf="!ResponseResetForm.get('password').valid && !IsResetFormValid"
                            class="help-block">Password is required with at least 6 characters.</span>
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="password2" name="password2"
                            formControlName="confirmPassword">
                        <span *ngIf="!ResponseResetForm.get('confirmPassword').valid && !IsResetFormValid"
                            class="help-block">. </span>
                        <span
                            *ngIf="ResponseResetForm.get('confirmPassword').valid && (ResponseResetForm.get('confirmPassword').value != ResponseResetForm.get('password').value) && !IsResetFormValid"
                            class="help-block">Confirm Password does not match with password.</span>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-evenly">
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    <!-- </div> -->
</div>