<div><header title="pageTitle"></header></div>
<div class="container-fluid mt-3 mb-5">
  <div class="card  mx-auto mb-5 " style="width: 25rem;">  
    <h3 class="card-header">Registration</h3><br>
  <form #f='ngForm' (ngSubmit)='onSubmit(f)' class="container">
  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName">
  </div>
  <div class="mb-3">
    <label for="firstName" class="form-label">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName">
  </div>
  <label for="email" class="form-label">Email address</label>
    <div class="input-group mb-3">
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" [(ngModel)]="user.email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" minlength="2">
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="password2" name="password2" [(ngModel)]="password2">
      </div>
      <div class="text-danger pb-3" *ngIf="errors">
        <!-- <ul *ngFor = "let error of errorMessage">
          <li>{{error}}</li>
        </ul> -->
        {{errors}}
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-evenly mb-3">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-primary">Reset</button>
    </div>
  </form>
</div>
