<div class="container-fluid mt-3" *ngIf="binItem_ | async as binItem" >
    <div class="container" *ngIf="displayTitle">
        <p class="fw-bolder mb-3">Bin Code: &nbsp;&nbsp;<span>{{code}}</span></p>
        <button (click)="back()" class="btn btn-primary">Back</button>         
    </div>
    <table  class="table table-hover border-top mt-3">
        <thead  class="table-light">
            <tr>
                <th scope="col">Item Id</th>
                <th scope="col">Item Number</th>
                <!-- <th scope="col">description</th> -->
                <th scope="col">Quantity</th>
                <!-- <th scope="col">Action</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let item of binItem'>
                <td>{{item.itemId}}</td>
                <td>{{item.itemNumber}}</td>
                <td>{{item.quantity}}</td>
                <!-- <td>{{bin.warehouseLocation.locationName}}</td> -->
                <!-- <td>
                    <a [routerLink]="['/bin', item.itemCode]">Edit</a>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>
