<div class="container-fluid mt-3" *ngIf="binItem_ | async as binItem" >
    <div class="container" *ngIf="displayTitle">
        <div class="row mb-3">
            <div class="col-sm-4">
               <span class="">Bin Code:</span> &nbsp;&nbsp;<span>{{code}}</span>
            </div>
            <div class="col-sm-4">
                Location: &nbsp;&nbsp;<span>{{bin.warehouseLocation.locationName}}</span>
            </div>
            <div class="col-sm-4">
                Type: &nbsp;&nbsp;<span>{{bin.binType.typeName}}</span>
            </div>
        </div>    
        <div *ngIf="previousUrl_ | async as url">
        <button (click)="back(url)" class="btn btn-primary">Back</button>    
       </div>     
    </div>
    <table  class="table table-hover border-top mt-3">
        <thead  class="table-light">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Item Number</th>
                <th scope="col">Lot Number</th>
                <th scope="col">Quantity</th>
                <!-- <th scope="col"></th> -->
            </tr>
        </thead>
        <tbody>
                <tr *ngFor='let item of binItem; let i = index'  (mouseenter)="showDetail(item.itemNumber)"  (mouseleave)="closeDetail()">
                <!-- <tr *ngFor='let item of binItem; let i = index'> -->
                <td>{{i + 1}}</td>
                <td>{{item.itemNumber}}</td>
                <td>{{item.lotNumber}}</td>
                <td>{{item.quantity}}</td> 
                <!-- <td>
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"  (click)="showDetail(item.itemNumber)">Details</button>
                      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                       <div class="offcanvas-header">
                       <h5 id="offcanvasRightLabel">Item Information</h5>
                         <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                      </div>
                     <div class="offcanvas-body">
                        <div *ngIf="it" >
                            <p><span class="fs-6">Item Number: &nbsp; </span> {{it?.itemNumber}}</p>
                            <p><span class="fs-6">Item Description: &nbsp; </span> {{it?.itemDescription}}</p>
                            <p><span class="fs-6">Price: &nbsp; </span> $ {{it?.itemPrice}} </p>
                            <p><span class="fs-6">Upc Code: &nbsp; </span> {{it?.upcCode}} </p>
                        </div>
                       </div>
                 </div>
                </td>              -->
            </tr>
        </tbody>
    </table>
    <div *ngIf="item" >
        <p><span class="fs-6">Item Number: &nbsp; </span> {{item.itemNumber}}</p>
        <p><span class="fs-6">Item Description: &nbsp; </span> {{item.itemDescription}}</p>
        <p><span class="fs-6">Price: &nbsp; </span> $ {{item.itemPrice}} </p>
        <p><span class="fs-6">Upc Code: &nbsp; </span> {{item.upcCode}} </p>
    </div>
</div>
