
<div class="container-fluid mt-3">
    <!-- <p class="fw-bolder">Bin Code: &nbsp;&nbsp;<span>{{binItem.bin.binCode}}</span></p> -->
    <!-- <a routerLink="/bins" class="btn btn-primary">Back to bin list</a>  -->
    <!-- <table class="table table-hover border-top mt-3">
        <thead *ngIf="binItem_ | async as binItem" class="table-light">
            <tr>
                <th scope="col">Item Id</th>
                <th scope="col">Item Number</th>
                <th scope="col">description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let item of binItem'>
                <td>{{binItem.id}}</td>
                <td>{{binItem.binType.typeName}}</td>
                <td>{{bin.binCode}}</td>
                <td>{{bin.warehouseLocation.locationName}}</td>
                <td>
                    <a [routerLink]="['/bin', item.itemCode]">Edit</a>
                </td>
            </tr>
        </tbody>
    </table> -->
</div>
